
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: rgb(34,193,195);
    background: linear-gradient(48deg, rgba(34,193,195,0.5060224773503151) 0%, rgba(253,187,45,0.3743698162858894) 100%); 
}

#root {
    display: flex;
    justify-content: center;
}
